data/arc1concept-aug-1000/*
data/arc2concept-aug-1000/*
outputs/**
wandb/**
**/__pycache__/*
checkpoints/**
data/sudoku-extreme-1k-aug-1000/*
data/sudoku-extreme-full/*
kaggle/combined/arc-agi_training-challenges copy.json
.devcontainer/devcontainer.json
data/**
!data/build_nca1d_dataset.py
!data/build_1d_arc_dataset.py
NCA_datas/nca_dataset_colab_demo/metadata.json
NCA_datas/nca_dataset_colab_demo/train_gzip_ratio.npy
NCA_datas/nca_dataset_colab_demo/train_input_ids.npy
NCA_datas/nca_dataset_colab_demo/train_labels.npy
NCA_datas/nca_dataset_colab_demo/train_raw_token_length.npy
NCA_datas/nca_dataset_colab_demo/train_trajectories.npy
NCA_datas/nca_dataset_colab_demo/val_gzip_ratio.npy
NCA_datas/nca_dataset_colab_demo/val_input_ids.npy
NCA_datas/nca_dataset_colab_demo/val_labels.npy
NCA_datas/nca_dataset_colab_demo/val_raw_token_length.npy
NCA_datas/nca_dataset_colab_demo/val_trajectories.npy
